@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/vars.scss' as vars;

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;
  .card {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: vars.$ds-square-200;
    padding: 2em;
    border-radius: 0.8em;
    &:hover {
      background-color: colors.$red-400;
      & > .card__text > .card__title {
        color: colors.$gray-50;
      }
      & > .card__text > .card__paragraph {
        color: colors.$gray-50;
      }
      & > .card__image > div {
        background-color: colors.$gray-50;
      }
      & > .card__image > div > svg {
        color: colors.$red-400;
      }
      transition: all 250ms ease-in-out;
    }
    @include media.tablet {
      flex-direction: row;
    }
    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      padding: 0 1em 1em 0;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 6em;
        height: 6em;
        background-color: colors.$red-400;
        border-radius: 100%;
        svg {
          font-size: 3em;
          color: colors.$gray-50;
        }
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 1.2em;
      color: colors.$gray-400;
      &::after {
        background: colors.$gray-100;
      }
    }
  }
}
