@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/mixins.scss' as mixins;

%link-reset {
  text-decoration: none;
}

%list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%content-line {
  background: colors.$gray-400;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

%content-position {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: colors.$gray-100;
  @include media.desktop {
    width: 1250px;
  }
  padding: 1em 30px;
  &__logo {
    @extend %link-reset;

    font: {
      family: typography.$ff-logo;
      size: 1.8em;
    }

    @include mixins.link-color(
      $link: colors.$red-300,
      $hover: colors.$red-400,
      $active: colors.$red-300
    );
  }
  &__list {
    @extend %list-reset;

    background: colors.$gray-100;
    padding: 7em 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    @include media.desktop {
      position: static;
      transform: translateX(0);
      background: none;
      padding: 0;
      flex-direction: row;
      justify-content: flex-end;
      gap: 0 2em;
    }
  }
  &__link {
    @extend %link-reset;

    font: {
      family: typography.$ff-body;
      size: typography.$fs-h3;
    }
    text-transform: uppercase;

    @include mixins.link-color(
      $link: colors.$gray-400,
      $hover: colors.$red-300,
      $active: colors.$red-400
    );
    @include media.desktop {
      font-size: 0.9em;
    }
  }
  &__toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    @include media.desktop {
      display: none;
    }
  }
  &__hamburger {
    @extend %content-line;

    display: block;
    position: relative;
    &::before {
      @extend %content-line;
      @extend %content-position;

      top: 6px;
    }
    &::after {
      @extend %content-line;
      @extend %content-position;

      bottom: 6px;
    }
  }
  &__open {
    .nav__list {
      transform: translateX(0);
    }
    .nav__hamburger {
      transform: rotate(0.625turn);
    }
    .nav__hamburger::before {
      transform: rotate(90deg) translateX(-6px);
    }
    .nav__hamburger::after {
      opacity: 0;
    }
    .hero__glasses {
      display: none;
    }
    .hero__mouse {
      display: none;
    }
  }
}
