@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/buttons.scss' as buttons;
@use '../utils/mixins.scss' as mixins;
@import "../sections/section.scss";

.blog {
  @extend .section;
  background-color: colors.$gray-50;
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include media.desktop {
      width: 1200px;
    }
    padding: 0 30px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4em;
    & h1::after {
      content: "";
      margin: 1em auto 2em auto;
      background: colors.$gray-400;
      display: block;
      width: 4em;
      height: 3px;
      border-radius: 1em;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    @include media.desktop {
      flex-direction: row;
    }
  }
  &__item {
    position: relative;
  }
  &__image {
    width: 100%;
    height: 380px;
    object-fit: cover;
  }
  &__overlay {
    top: 0;
    left: 50%;
    width: 50%;
    height: 380px;
    position: absolute;
    background-color: colors.$red-400;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    & h2 {
      color: colors.$gray-0;
      font-size: typography.$fs-body;
      font-family: typography.$ff-title;
      margin-bottom: 0.2em;
      letter-spacing: 0.2em;
    }
    & h3 {
      color: #f8d9d6;
      font-size: 0.85em;
      font-family: typography.$ff-title;
      text-transform: uppercase;
      &::after {
        content: "";
        margin: 1em 0;
        background: colors.$gray-0;
        display: block;
        width: 2em;
        height: 3px;
        border-radius: 1em;
      }
    }
    p {
      color: colors.$gray-0;
      font-size: 0.75em;
    }
  }
  &__date {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 0.7em;
    & div {
      color: colors.$gray-0;
      padding-right: 6px;
    }
    & p {
      font-size: 0.7em;
    }
  }
  &__link {
    text-decoration: none;
    border: 1px solid colors.$gray-50;
    padding: 0.5em 1em;
    border-radius: 8px;
    @include mixins.link-color(
      $link: colors.$gray-0,
      $hover: colors.$gray-0,
      $active: colors.$gray-0
    );
  }
}
