@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/buttons.scss' as buttons;
@use '../utils/mixins.scss' as mixins;
@use '../utils/vars.scss' as vars;
@import "../sections/section.scss";

.footer {
  height: 80px;
  background-color: colors.$red-400;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  &__copyright {
    color: colors.$gray-0;
  }
}
