@use '../utils/colors.scss' as colors;

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
  margin: 0;
  background: colors.$gray-100;
  display: flex;
  justify-content: center;
}
