@use '../utils/colors.scss' as c;

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
  margin: 0;
  background: c.$gray-100;

  display: flex;
  justify-content: center;
}
