@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;
@use '../utils/vars.scss' as v;
@import "../sections/section.scss";

.hero {
  @extend .section;
  padding-top: 0;
  background-color: c.$gray-100;
  text: {
    transform: uppercase;
    align: center;
  }
  &__container {
    height: 100vh;
    width: 100vw;
    @include m.desktop {
      width: 100vw;
    }
    @include m.tv {
      width: 1300px;
    }
    position: relative;
    margin: 0 auto;
  }
  &__header {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
  }
  &__title {
    font: {
      size: t.$fs-title;
      family: t.$ff-title;
    }
    font-weight: 400;
    letter-spacing: 0.15em;
    color: c.$gray-800;
  }
  &__subtitle {
    font: {
      size: t.$fs-body;
      family: t.$ff-body;
    }
    letter-spacing: 0.35em;
    line-height: 2em;
    color: c.$gray-400;
  }
  &__headphones {
    display: none;
    filter: drop-shadow(v.$ds-400);
    @include m.desktop {
      position: absolute;
      display: inline;
      left: 0;
      top: 100px;
    }
  }
  &__glasses {
    position: absolute;
    display: none;
    filter: drop-shadow(v.$ds-200);
    @include m.tablet {
      display: inline;
      top: 70px;
      left: 0;
    }
    @include m.desktop {
      display: inline;
      top: 420px;
      left: 200px;
    }
    @include m.landscape {
      display: none;
    }
  }
  &__pen-1 {
    position: absolute;
    display: inline;
    bottom: 130px;
    left: 50px;
    filter: drop-shadow(v.$ds-200);
    @include m.landscape {
      display: none;
    }
  }
  &__pen-2 {
    position: absolute;
    display: inline;
    bottom: 141px;
    left: 23px;
    filter: drop-shadow(v.$ds-200);
    @include m.landscape {
      display: none;
    }
  }
  &__mouse {
    position: absolute;
    display: none;
    filter: drop-shadow(v.$ds-100);
    @include m.desktop {
      display: inline;
      top: 600px;
      right: 200px;
    }
  }
  &__pen-holder {
    position: absolute;
    display: none;
    top: 490px;
    right: 150px;
    filter: drop-shadow(v.$ds-200);
    @include m.desktop {
      position: absolute;
      display: inline;
      top: 400px;
      right: 21px;
    }
  }
  &__glass {
    position: absolute;
    display: inline;
    top: 80px;
    right: 50px;
    z-index: 1;
    filter: drop-shadow(v.$ds-200);
    @include m.desktop {
      display: inline;
      top: 200px;
      right: 100px;
    }

    @include m.landscape {
      display: none;
    }
  }
  &__cork {
    position: absolute;
    display: inline;
    top: 80px;
    right: 50px;
    filter: drop-shadow(v.$ds-200);
    @include m.desktop {
      display: inline;
      top: 216px;
      right: 110px;
    }
    @include m.landscape {
      display: none;
    }
  }
}

.scroll {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  &__text {
    font: {
      size: t.$fs-body;
      family: t.$ff-body;
    }
    color: c.$red-300;
  }
}
