@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/buttons.scss' as buttons;
@use '../utils/mixins.scss' as mixins;
@import "../sections/section.scss";

.portfolio {
  @extend .section;
  background-color: colors.$gray-50;
  &__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    @include media.desktop {
      width: 1300px;
    }
    padding: 0 30px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    & h1::after {
      content: "";
      margin: 1em auto 2em auto;
      background: colors.$gray-400;
      display: block;
      width: 4em;
      height: 3px;
      border-radius: 1em;
    }
  }
}
