@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/buttons.scss' as buttons;
@use '../utils/mixins.scss' as mixins;
@use '../utils/vars.scss' as vars;
@import "../sections/section.scss";

.pricing {
  @extend .section;
  background-color: colors.$gray-50;
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include media.desktop {
      width: 1200px;
    }
    padding: 0 30px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4em;
    & h1::after {
      content: "";
      margin: 1em auto 2em auto;
      background: colors.$gray-400;
      display: block;
      width: 4em;
      height: 3px;
      border-radius: 1em;
    }
  }
  &__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
    @include media.tv {
      flex-flow: row nowrap;
    }
  }
  & .card {
    border: 1px solid colors.$gray-200;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media.tablet {
      width: 400px;
    }
    & > div {
      width: 100%;
      color: colors.$gray-400;
      border-bottom: 1px solid colors.$gray-200;
      padding: 1em;
    }
    &__title {
      font-size: typography.$fs-h2;
      font-weight: 600;
      line-height: 2em;
      text-transform: uppercase;
    }
    &__link {
      margin: 2em;
      background: none;
      color: colors.$gray-400;
      border: 1px solid colors.$gray-200;
      border-radius: 8px;
    }
    &--featured {
      box-shadow: vars.$ds-400;
      & .card__link {
        background: colors.$red-400;
        color: colors.$gray-0;
      }
    }
  }
}
