@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;
@use '../utils/buttons.scss' as b;
@import "../sections/section.scss";

.service {
  @extend .section;
  background-color: c.$gray-0;
  &__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    @include m.desktop {
      width: 1300px;
    }
    padding: 1em;
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4em;
    & h1::after {
      content: "";
      margin: 1em auto;
      background: c.$gray-400;
      display: block;
      width: 4em;
      height: 3px;
      border-radius: 1em;
    }
  }
}
