@use '../utils/typography.scss' as typography;
@use '../utils/colors.scss' as colors;
@use '../utils/media.scss' as media;
@use '../utils/buttons.scss' as buttons;
@use '../utils/mixins.scss' as mixins;
@import "../sections/section.scss";

.testimonials {
  @extend .section;
  padding: 90px 0;
  background-color: colors.$gray-0;
  background: {
    image: url("./images/testimonialsBg.png");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    @include media.desktop {
      width: 1000px;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2em;
    & h1 {
      display: block;
      margin: 1em auto;
      color: colors.$gray-0;
      &::after {
        content: "";
        margin: 1em auto;
        background: colors.$gray-0;
        display: block;
        width: 4em;
        height: 3px;
        border-radius: 1em;
        background-color: colors.$gray-0;
      }
    }
    & h2 {
      color: colors.$gray-0;
      letter-spacing: 8px;
      font-weight: 400;
    }
  }
  & .swiper-container {
    width: 100%;
    height: 400px;
    @media (min-width: 479px) {
      height: 350px;
    }
  }
  & .customer {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2em;
    &__testimonial {
      color: colors.$gray-50;
      font-style: italic;
      text-align: center;
    }
    &__name {
      color: colors.$red-400;
      text-transform: uppercase;
      font-size: typography.$fs-h2;
      font-weight: 500;
    }
  }
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: colors.$red-400 !important;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev {
  opacity: 1 !important;
  border: 1px solid colors.$red-400 !important;
}
