@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;
@use '../utils/buttons.scss' as b;
@use '../utils/mixins.scss' as mix;
@import "../sections/section.scss";

.testimonials {
  @extend .section;
  background-color: c.$gray-0;
  background: {
    image: url("./images/testimonialsBg.png");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 2em 1em;
    width: 100%;
    @include m.desktop {
      width: 1000px;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4em;
    & h1 {
      display: block;
      margin: 1em auto;
      color: c.$gray-0;
      &::after {
        content: "";
        margin: 1em auto;
        background: c.$gray-0;
        display: block;
        width: 4em;
        height: 3px;
        border-radius: 1em;
        background-color: c.$gray-0;
      }
    }
    & h2 {
      color: c.$gray-0;
      letter-spacing: 8px;
      font-weight: 400;
    }
  }
  & .swiper-container {
    width: 100%;
    height: 350px;
  }
  .swiper-pagination-bullet {
    opacity: 1;
  }
  & .customer {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2em;
    &__testimonial {
      color: c.$gray-50;
      font-style: italic;
      text-align: center;
    }
    &__name {
      color: c.$red-400;
      text-transform: uppercase;
      font-size: t.$fs-h2;
      font-weight: 500;
    }
  }
}

:root {
  --swiper-theme-color: #ed4f46;
}
