@use './colors.scss' as c;

@import "~/node_modules/@fontsource/leckerli-one/latin-400.css";
@import "~/node_modules/@fontsource/roboto/latin-300.css";
@import "~/node_modules/@fontsource/roboto/latin-400.css";
@import "~/node_modules/@fontsource/roboto/latin-700.css";
@import "~/node_modules/@fontsource/open-sans/latin-400.css";

$ff-title: "Roboto";
$ff-body: "Open Sans";
$ff-logo: "Leckerli One";

$fs-title: 2rem;
$fs-h1: 1.5rem;
$fs-h2: 1.4rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

body {
  background: c.$gray-50;
  font-family: $ff-body;
}

h1 {
  font-family: $ff-title;
  font-size: $fs-h1;
  font-weight: 400;
  color: c.$gray-800;
  text-transform: uppercase;

  &::after {
    content: "";
    margin: 1em 0 2em 0;
    background: c.$gray-400;
    display: block;
    width: 2em;
    height: 3px;
    border-radius: 1em;
  }
}
h2 {
  font-size: $fs-h2;
  font-family: $ff-body;
  text-transform: uppercase;
}
h3 {
  font-size: $fs-h3;
  font-family: $ff-body;
}
p {
  font-size: $fs-body;
  color: c.$gray-400;
}
