$ds-100: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.1);
$ds-200: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.2);
$ds-400: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.4);
$ds-soft: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.08),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.04);
