@import "~/node_modules/@fontsource/leckerli-one/latin-400.css";
@import "~/node_modules/@fontsource/roboto/latin-400.css";
@import "~/node_modules/@fontsource/open-sans/latin-400.css";

$ff-primary: "Roboto";
$ff-secondary: "Open Sans";
$ff-logo: "Leckerli One";

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-p: 1rem;
