@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;
@use '../sections/section.scss' as s;

.card__container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5em;
      height: 5em;
      background-color: c.$red-300;
      border: 1px solid c.$red-300;
      border-radius: 100%;

      svg {
        font-size: 3em;
        color: c.$gray-50;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
}
