@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;

@mixin link-color($link: red, $hover: hotpink, $active: blue) {
  &:link {
    color: $link;
  }
  &:visited {
    color: $link;
  }
  &:hover {
    color: $hover;
  }
  &:active {
    color: $active;
  }
}

%link-reset {
  text-decoration: none;
}

%list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%content-line {
  background: c.$gray-400;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

%content-position {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  overflow: hidden;
  padding: 0.5em 1em;
  &__logo {
    @extend %link-reset;

    font: {
      family: t.$ff-logo;
      size: t.$fs-h2;
    }

    @include link-color(
      $link: c.$red-300,
      $hover: c.$red-400,
      $active: c.$red-300
    );
  }
  &__list {
    @extend %list-reset;

    background: c.$gray-50;
    padding: 3em 0;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);

    @include m.desktop {
      position: static;
      transform: translateX(0);
      background: none;
      padding: 0;

      flex-direction: row;
      justify-content: flex-end;
      gap: 0 2em;
    }
  }
  &__link {
    @extend %link-reset;

    font: {
      family: t.$ff-secondary;
      size: t.$fs-h2;
    }
    text-transform: uppercase;

    @include link-color(
      $link: c.$gray-400,
      $hover: c.$red-300,
      $active: c.$red-400
    );
    @include m.desktop {
      font-size: t.$fs-h3;
    }
  }
  &__toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    @include m.desktop {
      display: none;
    }
  }
  &__hamburger {
    @extend %content-line;

    display: block;
    position: relative;
    &::before {
      @extend %content-line;
      @extend %content-position;

      top: 6px;
    }
    &::after {
      @extend %content-line;
      @extend %content-position;

      bottom: 6px;
    }
  }
  &__open {
    .nav__list {
      transform: translateX(0);
    }

    .nav__hamburger {
      transform: rotate(0.625turn);
    }

    .nav__hamburger::before {
      transform: rotate(90deg) translateX(-6px);
    }

    .nav__hamburger::after {
      opacity: 0;
    }
  }
}
