@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;
@use '../utils/buttons.scss' as b;
@use '../sections/section.scss' as s;

.about {
  @extend .section;
  height: 100%;
  &__container {
    @extend .container;
  }
  &__header {
    display: flex;
    flex-direction: column;
    & h1::after {
      content: "";
      margin: 1em 0 2em 0;
      background: c.$gray-400;
      display: block;
      width: 4em;
      height: 3px;
      border-radius: 1em;
    }
  }
  &__link {
    @extend .btn;
    align-self: flex-start;
    margin: 3em 0;
  }
  &__img {
    max-width: 500px;
    margin: 0 2em;
  }
}
