@use '../utils/typography.scss' as t;
@use '../utils/colors.scss' as c;
@use '../utils/media.scss' as m;
@use '../utils/vars.scss' as v;

.hero {
  background-color: c.$gray-50;
  text: {
    transform: uppercase;
    align: center;
  }
  &__container {
    height: 100vh;
  }
  &__title {
    font: {
      size: t.$fs-h1;
      family: t.$ff-title;
    }
    letter-spacing: 0.15em;
    padding-top: 10em;
    color: c.$gray-800;
  }
  &__subtitle {
    font: {
      size: t.$fs-h2;
      family: t.$ff-body;
    }
    letter-spacing: 0.1em;
    color: c.$gray-400;
  }
  &__headphones {
    display: none;
    filter: drop-shadow(v.$ds-400);
    @include m.desktop {
      position: absolute;
      display: inline;
      left: 0;
      top: 150px;
    }
  }
  &__glasses {
    position: absolute;
    display: inline;
    top: 70px;
    left: 20px;
    filter: drop-shadow(v.$ds-200);
    @include m.desktop {
      top: 600px;
      left: 200px;
    }
  }
  &__pen-1 {
    position: absolute;
    display: inline;
    bottom: 140px;
    left: 100px;
    filter: drop-shadow(v.$ds-200);
  }
  &__pen-2 {
    position: absolute;
    display: inline;
    bottom: 110px;
    left: 100px;
    filter: drop-shadow(v.$ds-200);
  }
  &__mouse {
    position: absolute;
    display: none;
    filter: drop-shadow(v.$ds-100);
    @include m.desktop {
      top: 750px;
      right: 200px;
    }
  }
  &__pen-holder {
    display: none;
    filter: drop-shadow(v.$ds-200);
    @include m.tablet {
      position: absolute;
      display: inline;
      top: 490px;
      right: 200px;
    }
    @include m.desktop {
      position: absolute;
      display: inline;
      top: 550px;
      right: 50px;
    }
  }
  &__glass {
    position: absolute;
    display: inline;
    top: 160px;
    right: 50px;
    z-index: 1;
    filter: drop-shadow(v.$ds-200);
    @include m.desktop {
      display: inline;
      top: 300px;
      right: 100px;
    }
  }
  &__cork {
    position: absolute;
    display: inline;
    top: 160px;
    right: 50px;
    filter: drop-shadow(v.$ds-200);
    @include m.desktop {
      display: inline;
      top: 316px;
      right: 110px;
    }
  }
}

.scroll {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  &__text {
    font: {
      size: t.$fs-body;
      family: t.$ff-body;
    }
    color: c.$red-300;
  }
}
